#write, #reader, #write canvas {
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}

#write nav {
  height: 50px;
}

#write canvas {
  z-index: 0;
}

button, select {
  margin: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-color: purple;
  border-color: #cdbfe3;
  line-height: 1.3333333;
  border-radius: 6px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.text {
    width: 60px;
    min-height: 12px;
    max-height: 300px;
    position: absolute;
    left: 50px;
    top: 50px;
    padding: 3px;
    outline: 0;
    border: 1px solid #a0b3d6;
    font-size: 12px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-modify: read-write-plaintext-only;
}
